.transient-btn{
    background-color: #ff8d4e;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.transient-btn:hover{
    background-color: #d3723e;
    transition: all ease-in 0.2s;
}

.login-btn{
    background-color: #ff8d4e;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.login-btn:hover{
    background-color: #d3723e;
    transition: all ease-in 0.2s;
}