.transient-btn {
    background-color: #ff8d4e !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    border-radius: 8px !important;
}

.transient-btn:hover {
    background-color: #d3723e !important;
    transition: all ease-in 0.2s !important;
}

.login-btn {
    background-color: #ff8d4e !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    border-radius: 8px !important;
}

.login-btn:hover {
    background-color: #d3723e !important;
    transition: all ease-in 0.2s !important;
}