.login{
    height: 100vh;
}

.welcome-user{
    text-align: center;
    margin-bottom: 50px;
}

.welcome-user h1{
  font-size: 30px;
  font-weight: bold;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-label{
  margin-bottom: 10px;
}

.password-label{
  margin-bottom: 10px;
}




