.navbar{
  width: 1600px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-links a{
    color: black;
}


